.interactiveButton {
  font-family: Lato, sans-serif;
  border-width: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  padding: 10px 40px;
  border-radius: 9999px;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
}

.variant1 {
  background-color: #a79770;
  border-color: #a79770;
  color: white;
}

.variant1:hover {
  background-color: #9b8a60;
  border-color: #9b8a60;
}

.variant2 {
  border-color: white;
  color: white;
}

.variant2:hover {
  background-color: white;
  color: black;
}

.variant3 {
  background-color: #a79770;
  letter-spacing: 2px;
  border-color: #a79770;
  font-weight: 400;
  font-size: 1rem;
  padding: 16px 34px;
  color: white;
}

.variant3:hover{
  background-color: #c1b495;
  border-color: #c1b495;
}

.variant4 {
  background-color: #a79770;
  border-color: #a79770;
  color: white;
}

.variant4:hover {
  background-color: white;
  border-color: white;
  color: black;
}
